[submodule "bundle/vimoogle"]
	path = bundle/vimoogle
	url = git@github.com:kevinw/vimoogle.git
[submodule "bundle/pyflakes-vim"]
	path = bundle/pyflakes-vim
	url = git@github.com:kevinw/pyflakes-vim.git
