[submodule "bundle/vimoogle"]
	path = bundle/vimoogle
	url = git@github.com:kevinw/vimoogle.git
[submodule "bundle/pyflakes-vim"]
	path = bundle/pyflakes-vim
	url = git@github.com:kevinw/pyflakes-vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "bundle/vimroom"]
	path = bundle/vimroom
	url = https://github.com/mikewest/vimroom.git
